<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Instaclone</title>
</head>
<body>

    <div class="container">
        <div class="container__div_image">
            <img src="../../images/login.png" alt="Login image" class="container__image">
        </div>

        <div class="container__div_login">
            <div class="container__login">
                <div class="container__logo">
                    <a href="#"><img src="../../images/logo.png" alt="Logo"></a>
                </div>
                <div class="container__form">
                    
                </div>
            </div>

            <div class="container__signup">
                <p>Don't have account?</p>
                <a href="#">Sign up</a>
            </div>

            <div class="container__download-app">
                <p class="container__get-the-app">Get the app.</p>
                <div>
                    <a href=""><img src="../../images/appstore.png" alt="app-store"></a>
                    <a href=""><img src="../../images/googleplay.png" alt="google-play"></a>
                </div>
            </div>
        </div>
    </div>
    
    <script src="login.js" type="module"></script>
</body>
</html>