<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Sign Up | NORTHWEST</title>
</head>
<body>
    <div class="page">
        <div class="container">
            <div class="container__div_signup">
                <div class="container__signup">
                    <div class="container__logo">
                        <a href="#"><img src="../../images/logo.png" alt="Logo" class="container__logo-image"></a>
                    </div>
                    <div class="container__form-div">
                        <form class="container__form">
                            <input type="text" class="container__form-box" placeholder="Mobile Number or Email">
                            <input type="text" class="container__form-box" placeholder="Full Name">
                            <input type="text" class="container__form-box" placeholder="Username">
                            <input type="password" class="container__form-box" placeholder="Password">
                            <button id="container__signup-btn" class="container__form-button">Sign up</button>
                        </form>
                    </div>
                </div>
    
                <div class="container__login">
                    <p>Have an account?</p>
                    <a href="#">Log in</a>
                </div>
            </div>
        </div>
        <footer id="footer">
            <span id="footer__text">&#169; 2022 NORTHWEST from Đorđe Krstić</span>
        </footer>
    </div>
    
    <script src="signup.js" type="module"></script>
</body>
</html>